# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django
*.log
media/
staticfiles/

# Environment variables (IMPORTANT)
.env

# VS Code
.vscode/

# OS
.DS_Store
*.pth
analyse/models/